* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: lightgrey;
    font-family: 'Roboto', sans-serif;
}

/* Sezione header */

.logo {
    line-height: 80px;
    height: 80px;
    background-color: white;
}

.logo img {
    vertical-align: middle;
    margin-left: 20px;
}

.logo h1 {
    display: inline;
    vertical-align: middle;
    font-size: 38px;
}

/* Sezione principale */

.main-container {
    width: 70%;
    margin: 50px auto 20px;
    background-color: white;
    border-radius: 5px;
}

    /* Sezione Bottoni */

.buttons-container {
    border-bottom: 2px solid lightgrey;
}

.buttons {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.buttons.button-1 {
    margin-left: 50px;
    background-color: rgb(61, 206, 255);
    border: 1px solid rgb(61, 206, 255);
    color: white;
}

.buttons.button-2 {
    background-color: white;
    border: 1px solid grey;
    color: grey;
}

    /* Sezione liste */

li {
    margin: 20px 0;
}

.list-container {
    padding: 50px 70px;
}

.list-container ul {
    list-style-type: none;
}

.list-container h3::before {
    content: '\25BE';
    margin-right: 10px;
}

li >span.circle {
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;
}

li >span.circle.checked {
    border: 1px solid lightgreen;
    color: lightgreen;
}

li >span.circle.unchecked {
    border: 1px solid red;
    color: red;
}


.topic {
    padding: 5px;
    font-size: 13px;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
}

.topic.editorial {
    background-color: lightskyblue;
}

.topic.q1-goals {
    background-color: purple;
}

.topic.recruiting {
    background-color: rgb(13, 134, 88);
}

.topic.mobile {
    background-color: orange;
}

.topic.website {
    background-color: palevioletred;
}

.topic.sales {
    background-color: limegreen;
}