* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: lightgrey;
    font-family: 'Roboto', sans-serif;
}

/* Sezione header */

.logo {
    line-height: 80px;
    height: 80px;
    background-color: white;
}

.logo img {
    vertical-align: middle;
    margin-left: 20px;
}

.logo h1 {
    display: inline;
    vertical-align: middle;
    font-size: 38px;
}

/* Sezione principale */

.main-container {
    width: 70%;
    margin: 50px auto 20px;
    background-color: white;
    border-radius: 5px;
}

    /* Sezione Bottoni */

.buttons-container {
    border-bottom: 2px solid lightgrey;
}

.buttons {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.buttons.button-1 {
    margin-left: 50px;
    background-color: rgb(61, 206, 255);
    border: 1px solid rgb(61, 206, 255);
    color: white;
}

.buttons.button-2 {
    background-color: white;
    border: 1px solid grey;
    color: grey;
}

    /* Sezione liste */

.list-container {
    padding: 50px 70px;
}

.list-container ul {
    list-style-type: none;
}

.list-container h3::before {
    content: '\25BE';
}

li >span.circle {
    border-radius: 50%;
    padding: 0 5px;
    margin-right: 5px;
}

li >span.circle.checked {
    border: 1px solid lightgreen;
    color: lightgreen;
}

li >span.circle.unchecked {
    border: 1px solid red;
    color: red;
}

