* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: lightgrey;
}

.logo {
    line-height: 80px;
    height: 80px;
    background-color: white;
}

.logo img {
    vertical-align: middle;
    margin-left: 20px;
}

.logo h1 {
    display: inline;
    vertical-align: middle;
    font-size: 45px;
}

